body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 253, 230);
  padding-top: 40px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(207, 207, 207);
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.delete-todo {
  font-size: 12px;
  color: rgb(165, 165, 165);
  margin-left: 15px;
}